<div class="footer">
  <div class="footer__inner">
    <ul class="footer__items footer__items--left">
      <li>
        <a href="https://github.com/maplibre/maputnik">Github</a>
      </li>
      <li>
        <a href="https://github.com/maplibre/maputnik/issues">Issue tracker</a>
      </li>
    </ul>
  </div>
</div>

<div class="disclaimer">
  <div id="disclaimer" class="disclaimer__inner">
    <p>
      This project is maintained by <a href="https://maplibre.org">MapLibre</a>. It is a style editor for the open source technology in the MapLibre ecosystem.
    </p>
  </div>
</div>
