<div class="footer">
  <div class="footer__inner">
    <ul class="footer__items footer__items--right">
      <li>
        Have fun mapping!
      </li>
    </ul>
    <ul class="footer__items footer__items--left">
      <li>
        <a href="https://github.com/maputnik/editor">Github</a>
      </li>
      <li>
        <a href="https://github.com/maputnik/editor/issues">Issue tracker</a>
      </li>
      <li>
        <a href="https://www.kickstarter.com/projects/174808720/maputnik-visual-map-editor-for-mapbox-gl">Kickstarter</a>
      </li>
    </ul>
  </div>
</div>
