.header {
    width: 60rem;
    margin: 0 auto;
    margin-top: 2 * $spacing;

    &__logo {
        display: inline-block;
        vertical-align: middle;
        width: 15rem;

        img {
            max-width: 100%;
        }

    }

    &__title {
        display: inline-block;
        vertical-align: middle;
        width: 44rem;
    }

    &__link {
        display: inline-block;
        vertical-align: middle;
    }

    &__actions {
        margin-top: 2 * $spacing;

    }

    &__description {
      color: #ededed;
    }
}
