<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>
      {{site.title}}
      {% if page.title %}
        - {{page.title}}
      {% endif %}
    </title>

		<link rel="apple-touch-icon" href="images/dist/favicon-152x152.png" />

    <link href="https://fonts.googleapis.com/css?family=Russo+One&text=maputnik" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/website.css">

    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  </head>
  <body data-theme="{{page.theme | default: layout.theme | default: 'dark' }}">

    <div class="space__bg">
      <div class="space__bg__hdl"></div>
    </div>


    <div class="content">
      {% include nav.html %}
      {{content}}
    </div>
    {% include footer.html %}

    <div class="space">
      <div class="space__fg">
        <div class="planet"></div>
        <div class="planet"></div>
        <div class="planet"></div>
        <div class="planet"></div>
        <div class="planet"></div>
      </div>
    </div>

    <!-- scripts -->
    <script type="application/javascript" src="/app.js"></script>
  </body>
</html>
